<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bool-flix</title>
</head>

<body>
    <div id="app">
        <!-- Site header -->
        <header id="site_header">
            <input type="search" name="search" id="search" v-model='query' @keyup.enter="toggleSearch">
            <button @click="toggleSearch">Search</button>
        </header>
        <!-- /Site header -->

        <!-- Site main -->
        <main id="site_main">
            <div class="film" v-for="film in films">
                <h1>{{film.title}}</h1>
                <h3>{{film.original_title}}</h3>
                <h3>{{film.original_language}}</h3>
                <h3>{{film.vote_average}}</h3>
            </div>



        </main>
        <!-- /Site main -->




    </div>

    <!-- AJAX Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Vue JS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Main JS file -->
    <script src="./main.js"></script>
</body>

</html>